/* header
-------------------------------- */
.TopHeader{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}
#TopHeader_Ad{
    background-color: #fde3a7;
    color: #111111;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
#TopHeader_Ad span{
    width: 100%;
    font-size: 14px;
}
.Navbar{
    background-color: rgb(10, 54, 101);
    padding: 0 30px;
}
.Navbar-List{
    display: flex;
    align-items: center;
}
.Logo img{
    width: auto;
    height: 60px;
}
.Navbar ul{
    display: flex;
    height: 60px;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.Navbar ul li{
    width: auto;
    list-style-type: none;
}
.Navbar ul li a{
    font-size: 16px;
    padding: 20px;
    text-decoration: none;
    color: #ffffff;    
}
.Navbar ul li a:hover{
    color: #ffffff;
    border-bottom: 2px solid red;
}
.Search{
    position: relative;
}
.Search-Bar{
    width: 100px;
    padding:5px 10px;
    border-radius: 5px;
}
.Search-Bar:hover{
    background-color: #ffffff;
}
.Search-Bar::placeholder{
    background: transparent;
    border: transparent;
    color: #ffffff;
    cursor: pointer;
    outline: 0;
}
.Search-Bar:hover::placeholder{
    color: #797979;
}
.Search-Btn{
    position: absolute;
    right: 0;
    top: 2px;
    height: 100%;
    width: 50px;
    background: transparent;
    border: transparent;
    font-size: 18px;
    color: #000000;
    cursor: pointer;
    outline: 0;
}
.Account{
    display: flex;
    align-items: center;
    margin: 0 10px;
}
.Account span{
    margin: 0 5px;
}
.Account .Account_Login,.Account_SignUp{
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
}
/* ------------Footer---------------- */
.Footer{
    background-color: rgb(10, 54, 101);
}
.Service{
    max-width: 1300px;
    padding: 20px 40px;
    margin: auto;
}
.Service .Footer_Logo{
    width: 30%;
    margin-bottom: 40px;
}
.Service_Wrapper{
    border-bottom: 1px solid #ffffff;
    display: flex;
    justify-content: space-between;
}
.Service_Item{
    display: flex;
}
.Service_Item .Service_List{
    margin-right: 70px;
    text-align: left;
}
.Service_Item h3{
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    margin-bottom: 20px;
}
.Service_Item .Service_List li{
    font-size: 14px;
    color: #ffffff;
    align-items:center;
    margin-bottom: 20px;
}
.Icon_Item{
    display: flex;
    gap: 20px;
}
.Community .Community_Icon{
    margin: 30px;
}
.Tibame_txt{
    font-size: 12px;
    margin: 20px auto;
    color: #ffffff;
    line-height: 20px;
}
