/* ----------------------共有區域-------------------------- */
a,h3,span,div{
    font-family:"Microsoft YaHei";
    text-decoration: none;
    letter-spacing: 2px;
    text-align: center;
}
img{
    width: 100%;
}
.Interval{
    margin-bottom: 80px;
} 
/* ----------------------MainHeader-------------------------- */
.MainHeader{
    width: auto;
    align-items: center;
}
.MainHeader_BG .video{
    display: flex;
    max-height: 820px;
    height: auto;   
}
.MainHeader_BG .video video{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.MainHeader_BG_ProjectBox{
    width: 100%;
    height: auto;
    text-align: center;
    margin: 30px auto 80px;
}
.MainHeader_BG_ProjectBox .Button{
    margin: 15px auto;
    padding: 10px;
}
.MainHeader_BG_ProjectBox .Button a{
    color: #797979;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #ffffff;
    border: 2px solid #1f1f1f;
}
.MainHeader_BG_ProjectBox .Button:hover a{
    background-color: #1f1f1f;
    color: #ffffff;
    border: none;
}
.MainHeader_BG_ProjectBox .Headline{
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}
.MainHeader_BG_ProjectBox .Subtitle{
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    color:#797979;
}
/* ------------小廣告區域------------ */
.Banner_Container{
    display: flex;
}
.Banner_Container .Banner_card{
    width: 0;
    flex-grow: 1;
}
.Banner_Container .Show-Btn .Mask{
    position: absolute;
    height: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(360deg,rgb(0, 0, 0), rgb(2, 2, 2,0));
}
.Banner_Container .Show-Btn{
    position: relative;
}
.Banner_List .Banner_Effect_Button{
    background-color: rgb(65, 80, 214);
    position: absolute;
    font-size: 16px;
    font-weight: 900;
    border:5px solid white;
    border-radius: 10px;
    padding: 15px 30px;
    margin: auto;
    color: #ffffff;
    bottom: 40px;
    left: 40px;
}
.Banner_List .Banner_Effect_Button span{
    letter-spacing: 5px;
}
.Banner_List .Banner_Effect_Button:hover{
    color: #ffffff;
    background-image: linear-gradient(360deg,rgba(63, 63, 63, 0.342),rgba(63, 63, 63, 0.342));
}
/* ------------人氣商品------------ */
.Gallery_title{
    font-size: 36px;
    text-align: center;
    padding: 20px 0 40px;
    font-weight: bolder;
}
.Scroll_Gallery{
    width: 100%;
}
.ScrollBar_Wrap ul{
    display: flex;
}
.ScrollBar_Wrap ul li{
    font-size: 18px;
    margin: 0 auto;
}
.ScrollBar_Wrap ul li img{
    object-fit: contain;
    height: 400px;
}
.ScrollBar_Wrap ul li .Product_Name{
    color: #797979;
}
.ScrollBar_Wrap ul li .Product_Price{
    color: #000000;
}
.ScrollBar_Wrap ul li:hover .Gallery_Button{
    opacity: 1;
    transition: .5s;
}
.ScrollBar_Wrap p{
    font-size: 18px;
    padding: 10px 30px;
    color: #797979;
    font-weight: bold;
    letter-spacing: 0;
}
.ScrollBar_Wrap .Gallery_Button{
    opacity: 0;
    margin: 20px auto;
}
.ScrollBar_Wrap .Gallery_Button a{
    font-size: 16px;
    font-weight: bold;
    padding: 10px 40px;
    border: 2px solid #797979;
    color: #797979;
    box-shadow: 0 3px 3px #00000099;
}
/* ------------長型廣告區域------------ */
.Large_Banner{
    text-align: center;
}
.Large_Banner h3{
    color: #000000;
    margin-bottom: 20px;
    font-weight: bolder;
}
.Large_Banner .HeaeLine{
    font-size: 48px;
}
.Large_Banner .Secondary{
    font-size: 24px;
    color: #797979;
    letter-spacing: 0;
}
.Large_Banner img{
    width: 100%;
}
/* ------------熱門球星區域------------ */
.Card_Wrapper{
    padding: 0 50px;
}
.Player_Card{
    width: 100%;
    height: 100%;
    position: relative;
}
.Hot_Player_Title{
    font-size: 36px;
    text-align: center;
    margin: 0 0 30px;
    font-weight: bolder;
}
.Player_Card .Front a img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: top;
}
.Hot_Player ul{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.Hot_Player ul li{
    margin: 10px;
    text-align: center;
    line-height: 1.5;
}
.Player_Name{
    font-size: 24px;
    font-weight: bold;
    -webkit-text-stroke: 1px #1f1f1f;
    color: #1f1f1f;
}
.Team_Name{
    font-size: 16px;
    font-weight: 900;
    color: #797979;
}

/* 登入註冊頁面 */
/* ------------登入註冊頁面------------ */
.Login_Page a{
    line-height: 19px;
    color:#000000;
}
.Login-Wrapper{
    max-width: 1000px;
    display: flex;
    gap: 40px;
    margin: 5% auto 5%;
}
.Login_Item{
    width: 50%;
}
.Login_Item h3{
    font-size: 24px;
}
.Login_Item h3{
    text-align: left;
}
.Login_Text{
    text-align: left;
}
.Login_Text input{
    margin-top: 20px;
    padding: 10px 5px;
    width: 300px;
}
.Remember_Forgot{
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 12px;
}
.Login_Button{
    font-size: 12px;
    width: 100%;
    margin: 30px auto;
}
.Login_Button a{
    border: 2px solid black;
    padding: 10px 40px;
}
.Login_Button a:hover{
    background-color: black;
    color: white;
}
.CheckBox{
    margin: 10px auto;
    text-align: left;
}
.Radio li{
    display: flex;
    font-size: 12px;
    gap: 5px;
    margin-bottom: 10px;
}
.Radio li label{
    line-height: 19px;
}
/* 商品列表頁面 */
/* ------------商品列表頁面------------ */
.Goods{
    display: flex;
}
.Left{
    width: 12.5%;
    background-color: #393f48;
}
.Classifty{
    padding: 30px 16px;
}
.Classifty .Classifty_Title{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    color:#ffffff;
}
.Classifty .Classifty_Line{
    width: 100%;
    height: 1px;
    background-color: #ffffff;
}
.Classifty_List li{
    margin:10px auto;
}
.Classifty_List ul li ul{
    padding: 0 0 0 10px;
}
#button_switch{
    display: none;
}
#button_switch:checked+.Goods .Classifty_List ul li ul{
    display: block;
}
.Classifty_List .EorW{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border: 0;
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
}
.Classifty_List .EorW +ul{
    display: none;
}
.Right{
    width: 87.5%;
    margin-bottom: 40px;
}
.Goods_List{
    padding: 20px 40px;
}
.Goods_Grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 90%;
    margin: auto;
}
.Goods_Grid .Goods_Item{
    width: 100%;
}
.Goods_Grid .Goods_Item img{
    height: 70%;
}
.Goods_Grid .Goods_Item .Goods_Txt{
    height: 30%;
    padding: 0 30px;
    font-size: 16px;
}
.Goods_Txt .Goods_Name{
    color:#333333;
    font-weight:normal;
    height: 2rem;
    margin-bottom: 13px;
}
.Goods_Txt p{
    text-align: left;
    margin: 10px 0;
    color: #000000; 
    font-weight: 600;
}
.Goods_Icon_Name{
    padding: 0 30px;
}
.Goods_Icon_Name h3{
    font-size: 24px;
    color: #000000;
    text-align: left;
    margin: 20px auto;
}
.Goods_Number{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0 30px;
}
.Goods_Number .Category{
    padding: 10px 10px;
}
.Pgec{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.Pgec .Page_Contrl{
    padding: 10px 20px;
}
.Pgec .Page button{
    padding: 10px;
}
.Pgec button:hover{
    background-color: #000000;
    color: #ffffff;
}
.Pgec button:focus{
    background-color: #000000;
    color: #ffffff;
}
/* ------------商品內容頁面------------ */
.Goods_Input{
    display: flex;
    padding: 60px;
    max-width: 1400px;
    margin: auto;
}
.Goods_Input .Goods_Left{
    width: 60%;
    display: flex;
}
.Goods_Left .Goods_littlepic{
    width: 25%;
}
.Goods_Left .Goods_littlepic img{
    width: 100%;
    border: 1px solid black;
}
.Goods_Input .Goods_Right{
    width: 40%;
    padding: 30px 20px;
}
.Goods_Input .Goods_Right .Pd_Title{
    line-height: 30px;
    margin-bottom: 20px;
}
.Goods_Input .Goods_Right .Pd_Title .Title,.Pd_Price{
    font-size:24px;
    text-align: left;
}
.Goods_Input .Goods_Right .Pd_Title .Word{
    font-size: 16px;
    text-align: left;
}
.Size{
    margin-top: 30px;
}
.Size .size_txt{
    display: flex;
    justify-content:space-between;
    margin: 20px 0;
}
.Size .size_txt a{
    color: #333333;
}
.Size .Size_Sec{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.Size .Size_Sec div button{
    width: 90%;
    padding: 20px 10px;
    border:2px solid transparent;
    border-radius: 10px;
    font-size: 16px;
}
.Size .Size_Sec button:focus{
    border:2px solid #797979;
}
.Size .Size_Sec button:hover{
    border:2px solid #797979;
}
.Goods_Right .Button{
    padding: 0 20px;
}
.Goods_Right .Button:hover a{
    background-color: rgba(109, 108, 108, 0.644);
}
.Goods_Input .Button a{
    background-color: #000000cb;
    display: flex;
    margin: 20px auto;
    justify-content: center;
    border-radius: 40px;
    padding: 20px 0;
    color: #ffffff;
}
.Pd_Description{
    border: 2px solid #797979;
    padding:10px;
    text-align: left;
    line-height: 30px;
    box-shadow: 10px 10px 20px 5px #6e6e6e8a;
    border-radius:10px;
}
.Pd_Description .Pd_Ttxt P{
    text-align: left;
}
.Pd_Description .SizeModel{
    text-align: left;
}
.Pd_Description label{
    font-size: 18px;
    display: flex;
}
.Pd_Description label span{
    margin: 20px 0;
}
.Pd_Description label>p{
    transform: rotate(90deg);
}
/* ------------------------ */